<h1>Harry Potter Magic Store</h1>
<%= link_to "Create new product", new_product_path %>
<table>
<tr>
 <th>Title</th>
 <th>Price(CNY/cents)</th>
 <th>Stock</th>
</tr>
<% @products.each do |product| %>
<% if product.stock > 0 %>
<tr>
  <td><%= product.title %></td>
  <td><%= product.price %></td>
  <td><%= product.stock %></td>
  <td><%= link_to "Delete", product_path(product), method: :delete, data: {confirm: "Are you sure?"}%></td>  
  <td><%= link_to "Buy", product_buy_path(product) %></td>
</tr>
<% end %>
<% end %>
</table>  


<h1>Your Magic Cart</h1>
<table>
<tr>
 <th>Title</th>
 <th>Price</th>
 <th>Stock</th>
</tr>
<% @carts.each do |cart| %>
<tr>
  <td><%= cart.title %></td>
  <td><%= cart.price %></td>
  <td><%= cart.stock %></td>
  <td><%= link_to "Delete", cart_path(cart), method: :delete, data: {confirm: "Are you sure?"}%></td>  
</tr>
<% end %>
</table>
<br>
<%= link_to "Check Out", cart_checkout_path %>

<p><%= flash[:waring] %></p>